body{
  background-color:#FEF9E7;
}
.container{
  width: 800px;
  margin: auto;
  background-image: url(../imagenes/fondo.jpg);
  background-position:right;
}

.menu li{
  display: inline-block;
  padding-right: 20px;
  font-size: 20px;

  }

.col h1{
background-color: #EBDEF0;
width: 800px;
text-align: center;
font-family:serif;
}
.col li{
font-family: inherit;
color: #000000;


}
.col h2{
  font-family:serif;
  text-align:center;
  }
iframe{
  width: 800px;
margin-bottom: 30px;
}

.hearder h1{
  font-family: fantasy Critter;
  text-align: center;
  font-size: 70px;
}
footer {
  margin-left: 20px;
  top: auto;

}
